<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://necolas.github.io/normalize.css/8.0.1/normalize.css"
    />
    <link rel="stylesheet" href="content/css/style.css" />
    <title>Weather</title>
  </head>
  <body ng-app="app">
    <header ng-include="'header.html'"></header>
    <div class="content container">
      <div class="weather-container" ng-controller="WeatherController">
        <form ng-submit="getWeather()">
          <p>
            <label for="pincode">Enter a zipcode from the United States </label>
          </p>
          <input
            type="text"
            name="pincode"
            id="pincode"
            placeholder="Enter Postal code"
            ng-model="pincode"
            required
          />
          <input type="submit" value="Get Weather" />
          <p class="error-msg" ng-show="getweathererror">{{getweathererror}}</p>
        </form>
        <h3>Toggle for more info</h3>
        <div class="toggles">
          <article class="sun-toggle">
            <input type="checkbox" name="sun" id="sun" ng-model="sun" />
            <div>
              <span> Sunrise / Sunset </span>
            </div>
          </article>
          <article class="wind-toggle">
            <input type="checkbox" name="wind" id="wind" ng-model="wind" />
            <div>
              <span>Wind Speed </span>
            </div>
          </article>
          <article class="humidity-toggle">
            <input
              type="checkbox"
              name="humidity"
              id="humidity"
              ng-model="humidity"
            />
            <div>
              <span>Humidity </span>
            </div>
          </article>
          <article class="pressure-toggle">
            <input
              type="checkbox"
              name="pressure"
              id="pressure"
              ng-model="pressure"
            />
            <div>
              <span> Pressure </span>
            </div>
          </article>
        </div>
        <div class="current-weather-card">
          <div class="default-values">
            <div class="location">
              <span class="city">{{location.name}} </span>
              <p class="country">({{location.country}})</p>
            </div>
            <p class="date">{{date}}</p>
            <div class="temperature">
              <p class="temp-value">{{temp}}&deg; C</p>
            </div>
            <p class="description">{{condition}}</p>
            <p class="temp-range">
              <span class="min">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke="currentColor"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="M16 17l-4 4m0 0l-4-4m4 4V3"
                  />
                </svg>
                {{tempMin}}&deg;
              </span>
              -
              <span class="max">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke="currentColor"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="M8 7l4-4m0 0l4 4m-4-4v18"
                  />
                </svg>
                {{tempMax}}&deg;
              </span>
            </p>
          </div>
          <div class="toggled-values">
            <div class="option-container sun" ng-show="sun">
              <img class="icon" src="content/images/sunrise.png" alt="" />
              <p class="text">{{sunrise}} - {{sunset}}</p>
            </div>
            <div class="option-container wind" ng-show="wind">
              <img class="icon" src="content/images/wind.png" alt="" />
              <p class="text">{{windspeedVal}}</p>
            </div>
            <div class="option-container pressure" ng-show="pressure">
              <img class="icon" src="content/images/pressure.png" alt="" />
              <p class="text">{{pressureVal}}</p>
            </div>

            <div class="option-container humidity" ng-show="humidity">
              <img class="icon" src="content/images/humidity.png" alt="" />
              <p class="text">{{humidityVal}}</p>
            </div>
          </div>
        </div>
        <div class="forecast">
          <h3>Forecast</h3>
          <forecast-graph forecast="forecast"></forecast-graph>
        </div>
      </div>
    </div>

    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.5.1/chart.min.js"
      integrity="sha512-Wt1bJGtlnMtGP0dqNFH1xlkLBNpEodaiQ8ZN5JLA5wpc1sUlk/O5uuOMNgvzddzkpvZ9GLyYNa8w2s7rqiTk5Q=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"
      integrity="sha512-qTXRIMyZIFb8iQcfjXWCO8+M5Tbc38Qi5WzdPOYZHIlZpzBHG3L3by84BBBOiRGiEb7KKtAOAs5qYdUiZiQNNQ=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/moment-timezone/0.5.33/moment-timezone-with-data.min.js"
      integrity="sha512-rjmacQUGnwQ4OAAt3MoAmWDQIuswESNZwYcKC8nmdCIxAVkRC/Lk2ta2CWGgCZyS+FfBWPgaO01LvgwU/BX50Q=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
    <script src="app/lib/angular.min.js"></script>
    <script src="/app/app.js"></script>
  </body>
</html>
